In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/home/pablost/IBM_IA/2- Python para Data Science'

In [3]:
peliculas = pd.read_csv('RatingsPeliculas.csv')

In [4]:
len(peliculas)

559

In [5]:
peliculas.head()

,Pelicula,Genero,Ratings de Rotten Tomatoes %,Ratings de la Audience %,Presupuesto (millones USD),Lanzamiento
0,(500) Days of Summer,Comedia,87,81,8,2009
1,"10,000 B.C.",Aventura,9,44,105,2008
2,12 Rounds,Accion,30,52,20,2009
3,127 Hours,Aventura,93,84,18,2010
4,17 Again,Comedia,55,70,20,2009

In [7]:
peliculas.columns

Index(['Pelicula', 'Genero', 'Ratings de Rotten Tomatoes %',
       'Ratings de la Audience %', 'Presupuesto (millones USD)',
       'Lanzamiento'],
      dtype='object')

In [10]:
# Normalizamos nombre de las columnas
peliculas.columns = ['Pelicula', 'Genero', 'RatingsCriticos', 'RatingsAudiencia', 'PresupuestoMillones', 'Año']
peliculas.columns

Index(['Pelicula', 'Genero', 'RatingsCriticos', 'RatingsAudiencia',
       'PresupuestoMillones', 'Año'],
      dtype='object')

In [11]:
peliculas.head()

,Pelicula,Genero,RatingsCriticos,RatingsAudiencia,PresupuestoMillones,Año
0,(500) Days of Summer,Comedia,87,81,8,2009
1,"10,000 B.C.",Aventura,9,44,105,2008
2,12 Rounds,Accion,30,52,20,2009
3,127 Hours,Aventura,93,84,18,2010
4,17 Again,Comedia,55,70,20,2009

In [12]:
peliculas.info()
# Nota. año es tipo int, y seguramente queramos que sea otro tipo de dato.
# Año debería ser un valor categórico, no numérico.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pelicula             559 non-null    object
 1   Genero               559 non-null    object
 2   RatingsCriticos      559 non-null    int64
 3   RatingsAudiencia     559 non-null    int64
 4   PresupuestoMillones  559 non-null    int64
 5   Año                  559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [13]:
peliculas.describe()

       RatingsCriticos  RatingsAudiencia  PresupuestoMillones          Año
count       559.000000        559.000000           559.000000   559.000000
mean         47.309481         58.744186            50.236136  2009.152057
std          26.413091         16.826887            48.731817     1.362632
min           0.000000          0.000000             0.000000  2007.000000
25%          25.000000         47.000000            20.000000  2008.000000
50%          46.000000         58.000000            35.000000  2009.000000
75%          70.000000         72.000000            65.000000  2010.000000
max          97.000000         96.000000           300.000000  2011.000000

In [14]:
# Cambiamos tipos de datos.

peliculas.Pelicula = peliculas.Pelicula.astype('category')

In [15]:
peliculas.head()

,Pelicula,Genero,RatingsCriticos,RatingsAudiencia,PresupuestoMillones,Año
0,(500) Days of Summer,Comedia,87,81,8,2009
1,"10,000 B.C.",Aventura,9,44,105,2008
2,12 Rounds,Accion,30,52,20,2009
3,127 Hours,Aventura,93,84,18,2010
4,17 Again,Comedia,55,70,20,2009

In [16]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pelicula             559 non-null    category
 1   Genero               559 non-null    object
 2   RatingsCriticos      559 non-null    int64
 3   RatingsAudiencia     559 non-null    int64
 4   PresupuestoMillones  559 non-null    int64
 5   Año                  559 non-null    int64
dtypes: category(1), int64(4), object(1)
memory usage: 43.6+ KB

In [18]:
peliculas.Genero = peliculas.Genero.astype('category')
peliculas.Año = peliculas.Año.astype('category')

In [19]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pelicula             559 non-null    category
 1   Genero               559 non-null    category
 2   RatingsCriticos      559 non-null    int64
 3   RatingsAudiencia     559 non-null    int64
 4   PresupuestoMillones  559 non-null    int64
 5   Año                  559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [21]:
# Valores únicos de las columnas
peliculas.Genero.cat.categories

Index(['Accion', 'Aventura', 'Comedia', 'Drama', 'Romance', 'Suspenso',
       'Terror'],
      dtype='object')

In [22]:
peliculas.describe()

       RatingsCriticos  RatingsAudiencia  PresupuestoMillones
count       559.000000        559.000000           559.000000
mean         47.309481         58.744186            50.236136
std          26.413091         16.826887            48.731817
min           0.000000          0.000000             0.000000
25%          25.000000         47.000000            20.000000
50%          46.000000         58.000000            35.000000
75%          70.000000         72.000000            65.000000
max          97.000000         96.000000           300.000000